services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: kaffa_user
      POSTGRES_PASSWORD: kaffa_password
      POSTGRES_DB: kaffa_db
    ports:
      - "5436:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
    driver: local

